* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  transition: background 1.5s ease-in-out;
  background-color: rgb(17, 68, 102);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  /* width: 5rem; */
  height: 5rem;
  border-radius: 50rem;
  opacity: 0.7;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.title {
  padding: 2rem;
}
.heading {
  font-size: 3rem;
  color: #ffffff;
}
input,
select {
  border: 0.01rem blue solid;
  border-radius: 30rem;
  padding: 0.3rem;
  outline: none;
  margin: 1rem;
}
section option {
  cursor: pointer;
}
input::placeholder {
  text-align: center;
}
.search-quote input {
  width: 50vw;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.header {
  text-align: center;
}
.quote-header {
  /* position: fixed; */
  color: #ffffff;
  font-size: small;
  text-transform: capitalize;
  font-style: italic;
  padding-top: 1rem;
}

.flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.quote-query,
.quote-number {
  position: relative;
  display: inline-block;
  margin: auto;
}
.tool-tip-info {
  visibility: hidden;
  width: 120px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  padding: 0.3rem 0;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 35%;
  opacity: 0;
  transition: opacity 0.25s;
  font-size: small;
}
.tool-tip-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #555555 transparent transparent transparent;
}

.quote-query:hover .tool-tip-info,
.quote-number:hover .tool-tip-info {
  visibility: visible;
  opacity: 1;
}

.quote-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 60vw;
  text-rendering: optimizeLegibility;
  line-height: 1.5rem;
  font-size: 1.2rem;
  background: #d6cbcb;
  padding: 1.8rem;
  min-height: 15rem;
  height: 100%;

  max-height: auto;
  border-radius: 1rem;
  border: 0.2rem groove;
}

.quote-content::-webkit-scrollbar {
  display: none;
  /* border-radius: 3rem; */
}

.control-btn {
  list-style: none;
  display: flex;
  width: 100%;
  bottom: 0rem;
}
.control-btn li {
  margin: 2rem auto;
}
.control-btn li button {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-radius: 3rem;
  text-emphasis: bold;
  outline: none;
  cursor: pointer;
  touch-action: pinch-zoom;
}
.control-btn li button:hover {
  opacity: 0.9;
}

blockquote {
  position: relative;
}
footer {
  position: absolute;
  right: 0;
  font-style: oblique;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  font-size: small;
}
.warning {
  font-size: 2rem;
  color: rgb(255, 0, 76);
}
@media screen and (max-width: 768px) {
  .quote-content {
    width: 80vw;
    font-size: medium;
    line-height: 2rem;
  }

  .control-btn {
    justify-content: space-around;
  }
  .heading {
    font-size: 2rem;
  }
  .search-quote input {
    width: 80vw;
  }
  .search-quote {
    margin: auto;
  }
  .quote-number input,
  .quote-query input {
    width: 5rem;
  }
}

@media screen and (max-width: 375px) {
  blockquote {
    font-size: large;
  }
  .quote-content {
    padding: 1.2rem;
  }
}
